<div class="columns">
  <div class="column is-3">
    <h2 class="subtitle">Bookmarks</h2>
    <div class="columns is-multiline">
      <tm-poster *ngFor="let bookmark of bookmarks"
       class="column is-6"
       [show]="bookmark">
      </tm-poster>
    </div>
  </div>

  <div class="column">
    <h2 class="subtitle">Find your shows</h2>
    <form>
      <div class="control">
        <input type="search" class="input" [(ngModel)]="query" name="query">
      </div>
      <div class="control">
        <button class="button is-primary" (click)="search(query)">Search</button>
      </div>
    </form>
    <div class="columns is-multiline">
      <div *ngFor="let show of shows" class="column is-4">
        <tm-poster [show]="show" size="lg">
          <button class="button is-primary is-small"
           type="button"
           (click)="saveBookmark(show)"
           [disabled]="isBookmarked(show)">
           save
          </button>
        </tm-poster>
      </div>
    </div>
  </div>
</div>
